# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv/
venv/
ENV/
env/

# MacOS
.DS_Store

# Logs
*.log

# IDE files
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/
